/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015.10.26., 20:21:52
    Author     : Matyas
*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300&subset=latin,latin-ext);
@-webkit-keyframes bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }
@-moz-keyframes bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }
@-o-keyframes bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }
@keyframes bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }
@-webkit-keyframes bounce-down {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
@-moz-keyframes bounce-down {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
@-o-keyframes bounce-down {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
@keyframes bounce-down {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
ul, .container-fluid, .row {
  margin: 0;
  padding: 0; }

body, ul {
  list-style-type: none;
  background-color: #ccc; }

a, button, input[type="submit"] {
  outline: none !important;
  font-family: inherit !important; }

a:hover {
  text-decoration: none !important; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

body {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
  /*background-image: url('decor/poster.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center 25%;*/
  position: relative; }
  body .ibg-bg {
    position: fixed !important;
    background-position: center 25% !important; }
  body .arrow {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1000;
    color: #000;
    opacity: 0.5;
    margin-left: -14px;
    cursor: pointer; }
    body .arrow .fa {
      font-size: 2em; }
    body .arrow.down {
      bottom: 0px; }
    body .arrow.up {
      top: 5px;
      display: none; }
    body .arrow:hover {
      opacity: 0.8; }
  body .bounce-up {
    -webkit-animation: bounce-up 2s infinite;
    -moz-animation: bounce-up 2s infinite;
    -ms-animation: bounce-up 2s infinite;
    -o-animation: bounce-up 2s infinite;
    animation: bounce-up 2s infinite; }
  body .bounce-down {
    -webkit-animation: bounce-down 2s infinite;
    -moz-animation: bounce-down 2s infinite;
    -ms-animation: bounce-down 2s infinite;
    -o-animation: bounce-down 2s infinite;
    animation: bounce-down 2s infinite; }
  body #home_controls {
    position: fixed;
    z-index: 999999 !important;
    width: 100%; }
    body #home_controls .title {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;
      position: absolute;
      left: 2em;
      top: 2em; }
      body #home_controls .title h1 {
        margin: 0 !important;
        padding-left: 5px;
        font-size: 18px;
        color: #333;
        letter-spacing: 0.5em; }
    body #home_controls .langswitch {
      position: absolute;
      top: 2em;
      right: 2em;
      text-transform: uppercase; }
      body #home_controls .langswitch a {
        color: #333;
        text-decoration: none !important; }
        body #home_controls .langswitch a:hover {
          color: #A53068 !important; }
        body #home_controls .langswitch a.active {
          color: #A53068 !important;
          pointer-events: none;
          cursor: default; }
  body #fullheight {
    z-index: 888888 !important; }
  body .section {
    padding: 0 2em;
    background-color: #fff; }
    body .section .slide .fp-tableCell {
      vertical-align: top !important; }
    body .section .slide .title h1 {
      margin: 1.5em 0 1em 0 !important;
      padding-left: 5px;
      font-size: 18px;
      color: #333;
      letter-spacing: 0.5em; }
    body .section .slide .images .flex-images img {
      opacity: 0.8;
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; }
      body .section .slide .images .flex-images img:hover {
        opacity: 1; }
  body #fp-nav ul, body .fp-slidesNav ul {
    background-color: transparent !important; }
    body #fp-nav ul li a span, body .fp-slidesNav ul li a span {
      background-color: #000 !important; }
    body #fp-nav ul li a.active span, body .fp-slidesNav ul li a.active span {
      background-color: #fff !important;
      border: 1px solid #000;
      background-clip: border-box; }
    body #fp-nav ul li .fp-tooltip, body .fp-slidesNav ul li .fp-tooltip {
      display: none !important; }
  body #fp-nav.right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0 !important;
    right: 5px; }
  body .fp-slidesNav {
    width: 100%;
    position: absolute;
    left: auto !important;
    bottom: 8px !important;
    margin-left: -2em !important;
    text-align: center;
    z-index: 99; }
  body .fp-controlArrow.fp-prev, body .fp-controlArrow.fp-next {
    position: absolute;
    border: none !important;
    height: 28px;
    width: 20px;
    margin: 0 important;
    top: auto;
    bottom: 10px;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    body .fp-controlArrow.fp-prev .fa, body .fp-controlArrow.fp-next .fa {
      font-size: 2em;
      opacity: 0.5; }
  body .fp-controlArrow.fp-prev {
    left: -2em; }
  body .fp-controlArrow.fp-next {
    right: -2em; }
  body .fp-controlArrow.fp-prev:hover .fa, body .fp-controlArrow.fp-next:hover .fa {
    opacity: 0.8; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 888888;
  background: url("../ajax-loader.gif") 50% 50% no-repeat #f9f9f9; }

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -5px;
  z-index: 999999; }

@media screen and (max-width: 991px) {
  .panel_text span {
    font-size: 1.4em !important; } }
@media screen and (max-width: 767px) {
  #home_controls h1 span {
    display: none; }

  .fp-controlArrow {
    display: none !important; }

  .flex-images {
    /*max-height: 120vh !important;
    overflow: scroll !important;*/ } }

/*# sourceMappingURL=style.css.map */
