/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015.10.26., 20:21:52
    Author     : Matyas
*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300&subset=latin,latin-ext);

@mixin vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizontal-align {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin border-radius($radius) { 
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin grayscale() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering*/
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@-webkit-keyframes bounce-up {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(30px));
    }
    60% {
        @include transform(translateY(15px));
    }
}

@-moz-keyframes bounce-up {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(30px));
    }
    60% {
        @include transform(translateY(15px));
    }
}

@-o-keyframes bounce-up {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(30px));
    }
    60% {
        @include transform(translateY(15px));
    }
}

@keyframes bounce-up {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(30px));
    }
    60% {
        @include transform(translateY(15px));
    }
}

@-webkit-keyframes bounce-down {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-10px));
    }
    60% {
        @include transform(translateY(-5px));
    }
}

@-moz-keyframes bounce-down {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-10px));
    }
    60% {
        @include transform(translateY(-5px));
    }
}

@-o-keyframes bounce-down {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-10px));
    }
    60% {
        @include transform(translateY(-5px));
    }
}

@keyframes bounce-down {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-10px));
    }
    60% {
        @include transform(translateY(-5px));
    }
}

ul, .container-fluid, .row {
    margin: 0;
    padding: 0; 
}  

body, ul {
    list-style-type: none;
    background-color: #ccc;
}

a, button, input[type="submit"] {
    outline: none !important;
    font-family: inherit !important;     
}
a:hover {
    text-decoration: none !important;
}

.no-select {
    @include no-select;
}

body {
    font-size: 14px; 
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    /*background-image: url('decor/poster.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center 25%;*/
    position: relative;    
    .ibg-bg {        
        position: fixed !important;
        background-position: center 25% !important;  
    }  
    .arrow {
        @include horizontal-align; 
        z-index: 1000;
        color: #000;
        opacity: 0.5;
        margin-left: -14px;
        cursor: pointer;
        .fa {
            font-size: 2em;
        } 
        &.down {
            bottom: 0px;
        }
        &.up {
            top: 5px;
            display: none;
        }
        &:hover {
            opacity: 0.8;
        }
    }

    .bounce-up {
        @include animation(bounce-up 2s infinite);
    }
    .bounce-down {
        @include animation(bounce-down 2s infinite);
    }    

    #home_controls {
        position: fixed;
        z-index: 999999 !important;
        width: 100%;
        .title {           
            @include no-select;
            position: absolute;
            left: 2em;
            top: 2em;
            h1 {
                margin: 0 !important;
                padding-left: 5px;
                font-size: 18px;
                color: #333;
                letter-spacing: 0.5em;                
            }
        } 
        .langswitch {
            position: absolute;
            top: 2em;
            right: 2em;
            text-transform: uppercase;
            a {
                color: #333;
                text-decoration: none !important;
                &:hover {
                    color: #A53068 !important;
                }
                &.active {
                    color: #A53068 !important;
                    pointer-events: none;
                    cursor: default;
                }
            }
        }
    }
    #fullheight {
        z-index: 888888 !important;        
    }
    .section {       
        padding: 0 2em;
        background-color: #fff;
        .slide {

            .fp-tableCell {
                vertical-align: top !important;
            }
            .title {
                h1 {
                    margin: 1.5em 0 1em 0 !important;
                    padding-left: 5px;
                    font-size: 18px;
                    color: #333;
                    letter-spacing: 0.5em;                
                }
            }
            .images {

                .flex-images {
                                    
                    img {
                        opacity: 0.8;
                        @include transition(opacity, 0.2s, linear);
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

        }

    }
    #fp-nav, .fp-slidesNav {   
        ul {
            background-color: transparent !important;
            li {
                a {
                    span {
                        background-color: #000 !important;
                    }
                }
                a.active {
                    span {
                        background-color: #fff !important;
                        border: 1px solid #000;
                        background-clip: border-box;
                    }                       
                } 
                .fp-tooltip {
                    display: none !important;
                }
            }
        }
    }

    #fp-nav.right {
        @include vertical-align;
        margin-top: 0 !important;
        right: 5px;
    }
    .fp-slidesNav {
        width: 100%;
        position: absolute;
        left: auto !important;        
        bottom: 8px !important; 
        margin-left: -2em !important;
        text-align: center;   
        z-index: 99;
    }

    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
        position: absolute;
        border: none !important;
        height: 28px;
        width: 20px;
        margin: 0 important;
        top:auto;        
        bottom: 10px;
        z-index: 100;
        @include transition(all, 0.2s, ease-in);
        .fa {
            font-size: 2em;
            opacity: 0.5;
        }
    }
    .fp-controlArrow.fp-prev {
        left: -2em;          
    }
    .fp-controlArrow.fp-next {
        right: -2em;          
    }

    .fp-controlArrow.fp-prev:hover, .fp-controlArrow.fp-next:hover {
        .fa {
            opacity: 0.8;
        }
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 888888;
    background: url("../ajax-loader.gif") 50% 50% no-repeat #f9f9f9;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -5px;
    z-index: 999999;
}

@media screen and (max-width: 991px) { 
    .panel_text {       
        span {
            font-size: 1.4em !important;
        }
    }
}

@media screen and (max-width: 767px) { 
    #home_controls {
        h1 span {
            display: none;
        }
    }    
    .fp-controlArrow {
        display: none !important;
    }
    .flex-images {
        /*max-height: 120vh !important;
        overflow: scroll !important;*/
    }
    
}