/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015.04.05., 11:43:20
    Author     : Matyi
*/
@font-face {
  font-family: 'SEGOEUIL';
  src: url("font/SEGOEUIL.eot");
  src: local("SEGOEUIL"), url("font/SEGOEUIL.woff") format("woff"), url("font/SEGOEUIL.ttf") format("truetype"); }
/*******************************************************************************
                                    MIXINS                        
*******************************************************************************/
/*******************************************************************************
                                    DEFAULTS                        
*******************************************************************************/
ul, .container-fluid, .row {
  margin: 0 !important;
  padding: 0 !important; }

.no-spacing div[class*="col-"] {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

textarea {
  resize: vertical;
  min-height: 70px; }

a, button, input[type="submit"] {
  outline: none !important;
  font-family: inherit !important; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget .op {
  font-family: inherit !important;
  font-size: 12px !important; }

.noselect {
  pointer-events: none;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none; }

label {
  font-weight: normal !important; }

hr {
  border-color: #fff; }

.preview {
  max-width: 100px;
  height: 100px; }

.custom-upload {
  padding-left: 1em; }
  .custom-upload input[type="file"] {
    width: 95%; }
  .custom-upload .fake_file {
    margin-top: -26px; }
    .custom-upload .fake_file .fake_upload_trigger {
      background-color: #333;
      color: #fff;
      border-color: #222; }
      .custom-upload .fake_file .fake_upload_trigger:hover {
        background-color: #222;
        cursor: pointer; }

.warning {
  color: #F47C3C; }

.success {
  color: #93C54B; }

.error {
  color: #D9534F; }

/***** BUTTONS *****/
.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: inherit !important;
  line-height: initial !important; }

.ui-widget button {
  font-size: 11px; }
.ui-widget .btn {
  padding: 6px 16px; }

.btn-sm {
  width: 30px;
  height: 30px;
  color: #fff !important; }
  .btn-sm .fa-check {
    margin: -1px; }

/***** FORMS ****/
.form-control {
  border-radius: 0 !important;
  outline: 0px none;
  box-shadow: none !important;
  font-size: inherit !important; }

.form-group {
  margin-bottom: 5px !important; }

.form-group-sm .form-control {
  padding: 0 10px !important; }

.ui-widget .form-control {
  font-size: inherit !important; }

.form-group:not(.has-error) .form-control:not([readonly]):focus, .form-group-sm:not(.has-error) .form-control:not([readonly]):focus {
  border-color: #333; }

.form-control[readonly] {
  pointer-events: none;
  cursor: default; }

.form-control[readonly]:focus {
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; }

.form-group.has-error .form-control, .form-group-sm.has-error .form-control, .form-group.has-success .form-control, .form-group-sm.has-success .form-control {
  border-color: rosybrown; }

.form-group.has-error .control-label, .form-group-sm.has-error .control-label {
  color: #B94A48; }

.form-control:disabled option {
  color: #A0A0A0 !important; }

.has-error .input-group-addon, .input-group-addon {
  color: #fff;
  border: 1px solid #222;
  background-color: #333; }

.form-group-sm .form-control + .form-control-feedback {
  line-height: 33px; }

.form-group-sm select.form-control + .form-control-feedback {
  margin-right: 17px; }

.cke_skin_v2 input.cke_dialog_ui_input_text, .cke_skin_v2 input.cke_dialog_ui_input_password {
  position: relative;
  z-index: 9999; }

/***** CHECKBOX *****/
input[type="checkbox"] {
  width: 24px;
  height: 22px;
  cursor: pointer;
  outline: none !important; }

.checkbox label {
  padding-left: 15px;
  cursor: default;
  outline: none !important; }

.checkbox label::before {
  width: 24px;
  height: 24px;
  outline: none !important; }

.checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after {
  padding: 4px 6px; }

.cke_source {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap !important;
  /* Opera 4-6 */
  white-space: -o-pre-wrap !important;
  /* Opera 7 */ }

/*******************************************************************************
                                    MARGINS                        
*******************************************************************************/
.mb-xs {
  margin-bottom: 0.5em; }

.mb-sm {
  margin-bottom: 1em; }

.mb-md {
  margin-bottom: 2em; }

.mt-xs {
  margin-top: 0.5em; }

.mt-sm {
  margin-top: 1em; }

.mt-md {
  margin-top: 2em; }

.mt-lg {
  margin-top: 4em; }

.ml-xs {
  margin-left: 0.5em; }

.ml-sm {
  margin-left: 1em; }

body {
  font-family: 'SEGOEUIL' !important;
  font-size: 14px;
  overflow: scroll-y;
  background-color: #F4EBE2;
  padding-top: 60px; }

/*******************************************************************************
                                    DATATABLES                        
*******************************************************************************/
.datefilter {
  margin-bottom: 1em !important; }
  .datefilter .form-group:first-of-type {
    padding-right: 5px; }
  .datefilter .form-group:nth-of-type(2) {
    padding-left: 5px; }

.dataTable tr.filters input, .dataTable tr.filters select {
  width: 100%; }

.dataTables_wrapper, .dt-rowReorder-float, .dt-rowReorder-moving {
  font-size: inherit !important; }
  .dataTables_wrapper .dataTables_length, .dt-rowReorder-float .dataTables_length, .dt-rowReorder-moving .dataTables_length {
    text-align: left !important; }
  .dataTables_wrapper .dataTables_paginate, .dt-rowReorder-float .dataTables_paginate, .dt-rowReorder-moving .dataTables_paginate {
    margin: 1em 0 0 0 !important; }
  .dataTables_wrapper td, .dt-rowReorder-float td, .dt-rowReorder-moving td {
    vertical-align: middle !important; }
  .dataTables_wrapper thead .form-group, .dt-rowReorder-float thead .form-group, .dt-rowReorder-moving thead .form-group {
    display: table-cell !important; }
  .dataTables_wrapper .coverImg, .dt-rowReorder-float .coverImg, .dt-rowReorder-moving .coverImg {
    width: 60px;
    text-align: center; }
  .dataTables_wrapper .respHandle, .dt-rowReorder-float .respHandle, .dt-rowReorder-moving .respHandle {
    width: 30px;
    padding: 0; }
  .dataTables_wrapper .sorting_1, .dataTables_wrapper .handle, .dt-rowReorder-float .sorting_1, .dt-rowReorder-float .handle, .dt-rowReorder-moving .sorting_1, .dt-rowReorder-moving .handle {
    width: 30px; }
  .dataTables_wrapper .handle, .dt-rowReorder-float .handle, .dt-rowReorder-moving .handle {
    cursor: move;
    text-align: center; }
    .dataTables_wrapper .handle:hover, .dt-rowReorder-float .handle:hover, .dt-rowReorder-moving .handle:hover {
      color: #CB4C4F; }
  .dataTables_wrapper .coverimg, .dt-rowReorder-float .coverimg, .dt-rowReorder-moving .coverimg {
    max-width: 50px;
    max-height: 50px; }
  .dataTables_wrapper .op, .dt-rowReorder-float .op, .dt-rowReorder-moving .op {
    width: 30px; }
  .dataTables_wrapper tr.child td.child, .dt-rowReorder-float tr.child td.child, .dt-rowReorder-moving tr.child td.child {
    padding-left: 5px !important; }
    .dataTables_wrapper tr.child td.child ul, .dt-rowReorder-float tr.child td.child ul, .dt-rowReorder-moving tr.child td.child ul {
      width: 100%; }
      .dataTables_wrapper tr.child td.child ul li, .dt-rowReorder-float tr.child td.child ul li, .dt-rowReorder-moving tr.child td.child ul li {
        text-align: left; }

/*******************************************************************************
                                    NAVIGATION                        
*******************************************************************************/
nav {
  position: fixed !important;
  top: 60px;
  background-color: #333;
  height: 100%;
  padding: 0 !important; }
  nav.left {
    left: 0; }
  nav.right {
    right: 0; }
  nav ul li .menuitem {
    display: block;
    width: 100%;
    padding: 1.5em 0 2em 0;
    font-size: 1vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear; }
    nav ul li .menuitem:hover, nav ul li .menuitem:active {
      color: #fff;
      background-color: #555;
      -webkit-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear; }
    nav ul li .menuitem .fa {
      font-size: 1.5vw;
      display: block; }
  nav ul li .menuitem.active {
    color: #fff !important;
    background-color: #555; }

.navbar-default {
  background-color: #222;
  border-color: #000; }
  .navbar-default .navbar-toggle {
    border-color: #000; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #000; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #222;
  border-color: #000; }

.navbar {
  z-index: 100 !important;
  color: #fff; }
  .navbar .navbar-brand {
    padding: 10px 15px; }
    .navbar .navbar-brand .brand_wrapper {
      display: table-cell;
      vertical-align: middle; }
      .navbar .navbar-brand .brand_wrapper #navbar_logo {
        display: table-cell;
        height: 40px;
        max-width: 40px;
        vertical-align: middle; }
        .navbar .navbar-brand .brand_wrapper #navbar_logo img {
          vertical-align: middle;
          max-height: 40px; }
      .navbar .navbar-brand .brand_wrapper .brand {
        display: table-cell;
        vertical-align: middle;
        padding-left: 1em; }
  .navbar .navbar-collapse {
    padding: 0; }
    .navbar .navbar-collapse .nav {
      font-size: inherit !important; }
      .navbar .navbar-collapse .nav .navitem:nth-of-type(2) .btn {
        text-transform: lowercase !important; }
  .navbar .navbar-header .navbar-brand {
    color: #fff; }
  .navbar ul li .menuitem {
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear; }
    .navbar ul li .menuitem:hover {
      color: #fff;
      background-color: #555;
      -webkit-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear; }
  .navbar ul li .menuitem.active {
    color: #fff !important;
    background-color: #555; }
  .navbar ul li .fa {
    font-size: 1.2em;
    margin-right: 1em; }

/*****  LANGUAGE SWITCHER *****/
.lang_controls .default {
  font-weight: bolder; }
.lang_controls .actual {
  pointer-events: none;
  cursor: default; }

/*****  MAIN WRAPPER    *****/
#main-wrapper #main-content {
  padding: 0 1em !important;
  overflow: hidden; }

/*****  SUBHEADER   *****/
.subheader {
  color: #435C72; }
  .subheader span.decor-bullet {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .subheader span.decor-bullet.first {
    background-color: #333333;
    margin-left: 1em; }
  .subheader span.decor-bullet.second {
    background-color: #ffffff;
    border: 1px solid #333333; }
  .subheader span.decor-bullet.third {
    background-color: #ffffff;
    border: 1px solid #333333;
    margin-left: 2em;
    margin-right: 1em; }

/*******************************************************************************
                                    CATEGORIES                        
*******************************************************************************/
#category_list {
  overflow: hidden; }
  #category_list li, #category_list .ui-sortable-helper {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    cursor: move; }
    #category_list li .control_panel, #category_list .ui-sortable-helper .control_panel {
      float: right; }
    #category_list li .btn, #category_list .ui-sortable-helper .btn {
      margin: 0; }
  #category_list li:not(.ui-sortable-helper):hover {
    background-color: #eee; }
  #category_list .ui-state-highlight {
    background: #ddd;
    border: none;
    height: 30px; }

/*******************************************************************************
                                    GALLERY                        
*******************************************************************************/
#image_array {
  /*    li.listitem {
          position: relative;
  
          div.lid {
              position: absolute;
              top:0;
              left:0;
              width: 100%;
              height: 100%;
              margin: 5px;
              background-color: rgba(255, 255, 255, 0.5);
          }
  
          &:hover img, &.index img {
              opacity: 1; 
          } 
  
  
      }*/ }
  #image_array li, #image_array .ui-sortable-helper {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 1em;
    text-align: center; }
    #image_array li img, #image_array .ui-sortable-helper img {
      top: 0;
      left: 0;
      max-width: 100px;
      max-height: 100px;
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      -webkit-transform: translateX(-50%) translateY(-50%) !important;
      -ms-transform: translateX(-50%) translateY(-50%) !important;
      transform: translateX(-50%) translateY(-50%) !important;
      opacity: 0.5; }
    #image_array li .control_panel, #image_array .ui-sortable-helper .control_panel {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      visibility: hidden;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.5); }
      #image_array li .control_panel .edit_item, #image_array li .control_panel .delete_item, #image_array li .control_panel .checkbox, #image_array .ui-sortable-helper .control_panel .edit_item, #image_array .ui-sortable-helper .control_panel .delete_item, #image_array .ui-sortable-helper .control_panel .checkbox {
        float: left; }
      #image_array li .control_panel .checkbox, #image_array .ui-sortable-helper .control_panel .checkbox {
        margin-top: 1px !important;
        margin-bottom: 0 !important;
        padding-left: 28px !important; }
        #image_array li .control_panel .checkbox input:checked, #image_array .ui-sortable-helper .control_panel .checkbox input:checked {
          cursor: default; }
      #image_array li .control_panel .checkbox label, #image_array .ui-sortable-helper .control_panel .checkbox label {
        padding-left: 12px !important; }
    #image_array li:hover img, #image_array .ui-sortable-helper:hover img {
      opacity: 1; }
    #image_array li:hover .control_panel, #image_array .ui-sortable-helper:hover .control_panel {
      visibility: visible; }
  #image_array li.index img {
    opacity: 1; }
  #image_array .ui-state-highlight {
    background: #333;
    border: none; }

/***** FILTER *****/
div.filter {
  padding-left: 3em;
  margin-bottom: 3em; }
  div.filter div.form-group-sm {
    width: 20%;
    float: left;
    margin-right: 1em; }
  div.filter input, div.filter select {
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    color: #3E3F3A;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DFD7CA;
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }

/*****  SCROLLABLE LIST CONTAINER *****/
/*div.container.scrollable {    
    padding: 0 !important;
}

div.scroll-bar {    
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}*/
/*div.row_title {      
    padding-left: 1em;
    text-align: justify;
    .article_date {
        position: absolute;
        top: 1em;
        right: 0;
    }

    .morecontent span {
        display: none;
    }
}*/
/*div.row_control_panel {
    width: 100%;
    padding: 0.5em 0;
    text-align: right; 

    .fa {
        font-size: 1.2em;                               
    }      
} */
/*div.box_cover {                
    width: 100%;
    height: 100px;
    text-align: center;
    img {                    
        @include vertical-align;
    }
}*/
div.box_panel div.box_title {
  height: 50px;
  color: #fff;
  text-align: center; }
  div.box_panel div.box_title p {
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important; }
div.box_panel div.box_control_panel, div.box_panel div.box_control_panel_small {
  width: 100%;
  text-align: center; }
  div.box_panel div.box_control_panel .fa, div.box_panel div.box_control_panel_small .fa {
    font-size: 1.2em; }
div.box_panel div.box_control_panel_small {
  margin-top: 4px; }
  div.box_panel div.box_control_panel_small .btn {
    width: 12.5em; }

div.dataTables_filter {
  display: none; }

table.dataTable tbody tr {
  background-color: transparent; }

.dropzone.dz-started .dz-message {
  opacity: 1 !important; }

.dz_errors {
  width: 14vw;
  margin: 10px auto;
  max-height: calc(100vh - 180px); }
  .dz_errors span {
    display: block;
    font-size: 10px;
    color: #CB4C4F; }

div.progress {
  width: 14vw;
  min-width: 120px;
  margin: 2em auto;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear; }

.big_button {
  display: block;
  height: 6vw;
  width: 14vw;
  min-width: 120px;
  min-height: 100px;
  margin: 0 auto 1vw auto !important;
  font-size: 1.2em; }
  .big_button span {
    display: inline-block;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    color: #fff; }

/***** CATEGORY PANEL *****/
ul#category_list button {
  padding: 5px 10px;
  margin: 2px 0; }

form#category_form .toggle_form_group {
  display: none; }

#add_category {
  float: right; }

.trash {
  height: 14vw;
  width: 14vw;
  min-width: 120px;
  min-height: 120px;
  margin: auto !important;
  border: 4px dashed rgba(193, 39, 45, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .trash:hover {
    border: 4px dashed #c1272d;
    background-color: rgba(255, 255, 255, 0.8); }
  .trash .ui-state-highlight {
    visibility: hidden; }
  .trash .ui-sortable-handle {
    position: relative;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    left: 50%;
    margin-left: -55px; }

.trash.ui-state-hover {
  background: red; }

#project_trash li.listitem, #project_trash .ui-state-highlight {
  position: relative !important;
  overflow: hidden;
  width: 166px;
  background-color: #333;
  padding: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
#project_trash .ui-sortable-handle {
  position: relative;
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  left: 50% !important;
  margin-left: -82px !important; }
#project_trash div.project_control_panel {
  display: none !important; }

ul#cv_data li {
  margin: 0.5em 0; }
  ul#cv_data li table {
    width: 100%; }
    ul#cv_data li table caption {
      font-size: 2em; }
    ul#cv_data li table tr td:first-of-type, ul#cv_data li table tr td:nth-last-of-type(2) {
      width: 6%; }
    ul#cv_data li table tr td:nth-of-type(3) {
      width: 80%; }
    ul#cv_data li table tr td:nth-of-type(4), ul#cv_data li table tr td:nth-of-type(5) {
      width: 4%; }

ul#person_array div.person {
  margin-top: 1em; }
  ul#person_array div.person img {
    max-width: 100px; }
  ul#person_array div.person div.person_data {
    display: inline-block;
    padding-left: 1em; }
  ul#person_array div.person div.person_controls {
    margin-top: 0.5em; }

table tbody tr td {
  vertical-align: middle; }

div#feedbacklist {
  width: 14vw;
  min-width: 120px;
  height: 70px;
  margin: 1em auto !important;
  font-size: 0.8em; }
  div#feedbacklist div.scroll-bar {
    margin: 0; }
  div#feedbacklist .success {
    color: #18BC9C; }
  div#feedbacklist .error {
    color: #CB4C4F; }

/*******************************************************************************
                                    DIALOG                        
*******************************************************************************/
.narrow_dialog {
  width: 300px; }

.wide_dialog {
  width: 600px; }

.narrow_dialog form, .wide_dialog form {
  visibility: hidden; }

.ui-dialog {
  font-family: inherit !important;
  /*    .form-group {
          margin-bottom: 10px;
      }*/ }
  .ui-dialog div[class*="col-"] {
    margin: 0;
    padding: 0; }
  .ui-dialog .ui-dialog-content {
    padding: 0.5em; }
  .ui-dialog .ui-dialog-titlebar-close {
    display: none !important; }
  .ui-dialog div.ui-dialog-titlebar.ui-widget-header {
    border: none !important;
    background: #333333 !important; }
  .ui-dialog .ui-dialog-title {
    color: #fff;
    font-weight: normal !important; }
  .ui-dialog .ui-dialog-buttonpane {
    border-width: 0; }
  .ui-dialog .dialog_controls {
    width: 100%;
    text-align: right;
    margin-top: 5px; }
  .ui-dialog #current_image {
    margin-top: 0.5em;
    max-width: 50px;
    max-height: 50px; }
  .ui-dialog .field_lock {
    display: inline-block;
    text-align: center; }
    .ui-dialog .field_lock .fa {
      font-size: 1.4em;
      padding: 1.4em 0 0 0.5em;
      color: #333; }
  .ui-dialog label {
    color: #333333; }
  .ui-dialog label.dim {
    color: #ccc; }
  .ui-dialog .dialog-icon {
    font-size: 2em; }
  .ui-dialog .message {
    padding: 0.5em 0 1em 0; }

.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0 !important;
  padding: 0 !important; }
  .ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0.1em 0.5em 0.1em !important; }
.ui-dialog .ui-dialog-buttonset {
  width: 100%;
  text-align: center !important; }

.ui-autocomplete {
  z-index: 9999 !important; }

div.feedback_icon {
  text-align: center; }
  div.feedback_icon .fa {
    padding: 0.3em 0.5em 0 0;
    font-size: 2em;
    color: #CB4C4F; }

/*******************************************************************************
                                    SETTINGS                        
*******************************************************************************/
/***** BRAND *****/
#brand .custom-upload:first-of-type {
  padding-right: 1em; }
#brand .custom-upload:nth-of-type(2) {
  padding-left: 1em; }
#brand .preview img {
  max-height: 100px;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  -ms-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important; }

/*******************************************************************************
                                    USER                        
*******************************************************************************/
/***** PORTRAIT *****/
#portrait .preview img {
  max-height: 100px; }

/***** LOGIN FORM *****/
img#KEF_logo {
  margin-top: 4vw; }

form#loginform div#captcha_img {
  min-width: 200px;
  display: inline-block;
  margin-right: 2px; }
form#loginform button#signin_button {
  float: right; }

#loader {
  position: fixed;
  top: 50vh;
  left: 50vw;
  margin-top: -5px;
  margin-left: -21px;
  z-index: 1000; }

@media screen and (max-width: 991px) {
  nav ul li .menuitem {
    font-size: 1.1vw; }

  div.subheader span.subtitle {
    display: block; }
  div.subheader span.decor-bullet {
    display: none; }

  div.image_array {
    padding: 0 1em; }

  div.controls {
    padding: 1em; } }
@media screen and (max-width: 767px) {
  .ui-dialog .narrow_dialog, .ui-dialog .wide_dialog {
    width: 270px; }

  .custom-upload:first-of-type {
    padding-right: 0; }

  .custom-upload:nth-of-type(2) {
    padding-left: 0; }

  .dropzone {
    width: 100%; }
    .dropzone .dz-default.dz-message span {
      font-size: 4vw; }

  div.progress {
    width: 100%;
    margin: 1em auto; }

  .dz_errors {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
