/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015.04.05., 11:43:20
    Author     : Matyi
*/

@font-face {
    font-family: 'SEGOEUIL';
    src: url('font/SEGOEUIL.eot');
    src: local('SEGOEUIL'), url('font/SEGOEUIL.woff') format('woff'), url('font/SEGOEUIL.ttf') format('truetype');
}

/*******************************************************************************
                                    MIXINS                        
*******************************************************************************/

@mixin vertical-align {
    position: absolute !important;
    top: 50% !important;    
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

@mixin XY-align {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -ms-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

/*******************************************************************************
                                    DEFAULTS                        
*******************************************************************************/

ul, .container-fluid, .row {
    margin: 0 !important;
    padding: 0 !important;    
}  

.no-spacing {
    div[class*="col-"] {
        margin: 0;
        padding: 0;
    }
}

ul {
    list-style-type: none;
}

textarea {
    resize: vertical;
    min-height: 70px;
}

a, button, input[type="submit"] {
    outline: none !important;
    font-family: inherit !important;    
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget .op {
    font-family: inherit !important;
    font-size: 12px !important;
}

.noselect {
    pointer-events: none;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}

label {
    font-weight: normal !important;
}

hr {
    border-color: #fff;
}

.preview {
    max-width: 100px;
    height: 100px;    
}

.custom-upload {    
    padding-left: 1em;
    input[type="file"] {
        width: 95%;
    }
    .fake_file {
        margin-top: -26px;   
        .fake_upload_trigger {
            background-color: #333;
            color: #fff;
            border-color: #222;
            &:hover {
                background-color: #222;
                cursor: pointer;
            }
        }
    }
}

.warning {
    color: #F47C3C;
}
.success {
    color: #93C54B;
}
.error {
    color: #D9534F;
}

/***** BUTTONS *****/
.btn {
    @include border-radius(0); 
    font-size: inherit !important;
    line-height: initial !important;
}

.ui-widget {
    button {
        font-size: 11px;
    }
    .btn {
        padding: 6px 16px;
    }
}

.btn-sm {
    width: 30px;
    height: 30px;
    color: #fff !important;
    .fa-check {
        margin: -1px;
    }
}
/***** FORMS ****/
.form-control {
    border-radius: 0 !important;
    outline: 0px none;
    box-shadow: none !important;
    font-size: inherit !important;
}
.form-group {
    margin-bottom: 5px !important;
}
.form-group-sm .form-control {
    padding: 0 10px !important;
}
.ui-widget {
    .form-control {
        font-size: inherit !important;
    }
}
.form-group:not(.has-error) .form-control:not([readonly]):focus, .form-group-sm:not(.has-error) .form-control:not([readonly]):focus {
    border-color: #333;    
}
.form-control[readonly] {
    pointer-events: none;
    cursor: default;
}
.form-control[readonly]:focus {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-group.has-error, .form-group-sm.has-error, .form-group.has-success, .form-group-sm.has-success {
    .form-control {
        border-color: rosybrown;
    }    
}
.form-group.has-error .control-label, .form-group-sm.has-error .control-label {
    color: #B94A48;
}
.form-control:disabled {
    option {
        color: #A0A0A0 !important;
    }
}

.has-error .input-group-addon, .input-group-addon {    
    color: #fff;
    border: 1px solid #222;
    background-color: #333;
}

.form-group-sm .form-control + .form-control-feedback {
    line-height: 33px;
}
.form-group-sm select.form-control + .form-control-feedback {
    margin-right: 17px;
}

//CKE editor in modal z-index fix
.cke_skin_v2 input.cke_dialog_ui_input_text, .cke_skin_v2 input.cke_dialog_ui_input_password {
    position: relative;
    z-index: 9999;
}

/***** CHECKBOX *****/

input[type="checkbox"] {
    width: 24px;
    height: 22px;
    cursor: pointer;
    outline: none !important;
}
.checkbox label {
    padding-left: 15px;
    cursor: default;
    outline: none !important;
}
.checkbox label::before {
    width: 24px;
    height: 24px;
    outline: none !important;
}
.checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after {
    padding: 4px 6px;
}


.cke_source {
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap !important; /* Opera 4-6 */
    white-space: -o-pre-wrap !important; /* Opera 7 */
}

/*******************************************************************************
                                    MARGINS                        
*******************************************************************************/
.mb-xs {
    margin-bottom: 0.5em;
}
.mb-sm {
    margin-bottom: 1em;
}
.mb-md {
    margin-bottom: 2em;
}
.mt-xs {
    margin-top: 0.5em;
}
.mt-sm {
    margin-top: 1em;
}
.mt-md {
    margin-top: 2em;
}
.mt-lg {
    margin-top: 4em;
}
.ml-xs {
    margin-left: 0.5em;
}
.ml-sm {
    margin-left: 1em;
}

body {    
    font-family: 'SEGOEUIL' !important;
    font-size: 14px;    
    overflow: scroll-y;
    background-color: #F4EBE2;
    padding-top: 60px;
}

/*******************************************************************************
                                    DATATABLES                        
*******************************************************************************/

.datefilter {
    margin-bottom: 1em !important;
    .form-group:first-of-type {
        padding-right: 5px;
    }
    .form-group:nth-of-type(2) {
        padding-left: 5px;
    }
}

.dataTable tr.filters {
    input, select {
        width: 100%;
    }
}

.dataTables_wrapper, .dt-rowReorder-float, .dt-rowReorder-moving {
    font-size: inherit !important;
    .dataTables_length {
        text-align: left !important;
    }
    .dataTables_paginate {
        margin: 1em 0 0 0 !important;
    }
    td {
        vertical-align: middle !important;
    }
    thead {
        .form-group {
            display: table-cell !important;
        }
    }
    .coverImg {
        width: 60px;
        text-align: center;
    }
    .respHandle {
        width: 30px;
        padding: 0;
    }
    .sorting_1, .handle {
        width: 30px;  
    }
    .handle{
        cursor: move;
        text-align: center;
        &:hover {
            color: #CB4C4F;
        }
    }    
    .coverimg {
        max-width: 50px;
        max-height: 50px;
    }
    .op {
        width: 30px;
    }
    tr.child {
        td.child {
            padding-left: 5px !important;
            ul {
                width: 100%;
                li {
                    text-align: left;
                }
            }
        }
    }
}

/*******************************************************************************
                                    NAVIGATION                        
*******************************************************************************/

nav {
    position: fixed !important;
    top: 60px;
    background-color: #333; 
    height: 100%;
    padding: 0 !important;
    &.left {
        left: 0;        
    }
    &.right {
        right: 0;
    }
    ul li {

        .menuitem {
            display: block;
            width: 100%;
            padding: 1.5em 0 2em 0;
            font-size: 1vw;
            text-align: center;
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            @include transition(all, 100ms, linear);

            &:hover, &:active {                    
                color: #fff;
                background-color: #555;
                @include transition(all, 100ms, linear);                    
            }
            .fa {
                font-size: 1.5vw;
                display: block;
            }
        }

        .menuitem.active {
            color: #fff !important; 
            background-color: #555;
        }             
    }
}

.navbar-default {
    background-color: #222;
    border-color: #000;    
    .navbar-toggle {
        border-color: #000;
        &:hover, &:focus {
            background-color: #000;
        }
    }    
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #222;
    border-color: #000;
}

.navbar {
    z-index: 100 !important;     
    .navbar-brand { 
        padding: 10px 15px;
        .brand_wrapper {
            display: table-cell;
            vertical-align: middle;
            #navbar_logo {
                display: table-cell;
                height: 40px;
                max-width: 40px; 
                vertical-align: middle;
                img {
                    vertical-align: middle;
                    max-height: 40px;
                }
            }
            .brand {
                display: table-cell;
                vertical-align: middle;
                padding-left: 1em;
            }
        }
    }   
    .navbar-collapse {
        padding: 0;
        .nav {
            font-size: inherit !important;            
            .navitem:nth-of-type(2) .btn {
                text-transform: lowercase !important;
            }            
        }
    }
    color: #fff;
    .navbar-header .navbar-brand {
        color: #fff;
    }
    ul li {
        .menuitem {            
            color: rgba(255, 255, 255, 0.6);            
            @include transition(all, 100ms, linear);
            &:hover {                    
                color: #fff;
                background-color: #555;
                @include transition(all, 100ms, linear);                    
            }            
        }
        .menuitem.active {
            color: #fff !important; 
            background-color: #555;
        }
        .fa {
            font-size: 1.2em;
            margin-right: 1em;
        }        
    }
}

/*****  LANGUAGE SWITCHER *****/
.lang_controls {
    .default {
        font-weight: bolder;
    }
    .actual {
        pointer-events: none;
        cursor: default;
    }
}

/*****  MAIN WRAPPER    *****/
#main-wrapper {
    #main-content {
        padding: 0 1em !important;
        overflow: hidden;
    }
}

/*****  SUBHEADER   *****/
.subheader {

    color: #435C72;

    span.decor-bullet {
        display: inline-block;
        width: 1.6em;
        height: 1.6em;        
        @include border-radius(0.8em);        
    }
    span.decor-bullet.first {
        background-color: #333333;
        margin-left: 1em;
    }
    span.decor-bullet.second {
        background-color: #ffffff;
        border: 1px solid #333333;
    }
    span.decor-bullet.third {
        background-color: #ffffff;
        border: 1px solid #333333;
        margin-left: 2em;
        margin-right: 1em;
    }

}

/*******************************************************************************
                                    CATEGORIES                        
*******************************************************************************/

#category_list {   
    overflow: hidden;
    li, .ui-sortable-helper {
        width: 100%;
        height: 30px;                 
        margin-top: 5px;
        cursor: move;       
        .control_panel {
            float: right;
        }        
        .btn {
            margin: 0;
        }
    }
    li:not(.ui-sortable-helper):hover {
        background-color: #eee;
    }
    .ui-state-highlight {
        background: #ddd;
        border: none;
        height: 30px;
    }
}

/*******************************************************************************
                                    GALLERY                        
*******************************************************************************/

#image_array {        

    li, .ui-sortable-helper {
        position: relative;
        width: 100px;
        height: 100px;
        float: left;
        margin: 1em;
        text-align: center;
        img {
            top: 0;
            left: 0;
            max-width: 100px;
            max-height: 100px;
            @include XY-align;                
            opacity: 0.5;
        }
        .control_panel {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;            
            visibility: hidden;
            z-index: 100;
            background-color: rgba(255, 255, 255, 0.5);
            .edit_item, .delete_item, .checkbox {
                float: left;
            }          
            .checkbox {
                margin-top: 1px !important;
                margin-bottom: 0 !important;
                padding-left: 28px !important;
                input:checked {
                    cursor: default;
                }
            }
            .checkbox label {
                padding-left: 12px !important;
            }
        }
        &:hover {
            img {
                opacity: 1;
            }
            .control_panel {
                visibility: visible;
            }
        }
    }
    li.index {
        img {
            opacity: 1;
        }
    }


    /*    li.listitem {
            position: relative;
    
            div.lid {
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                margin: 5px;
                background-color: rgba(255, 255, 255, 0.5);
            }
    
            &:hover img, &.index img {
                opacity: 1; 
            } 
    
    
        }*/

    .ui-state-highlight {
        background: #333;
        border: none;
    }
}



/***** FILTER *****/
div.filter {
    padding-left: 3em;
    margin-bottom: 3em;

    div.form-group-sm {
        width: 20%;
        float: left;
        margin-right: 1em;
    }
    input, select {
        height: 30px;
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        box-shadow: none;
        display: block;       
        color: #3E3F3A;
        background-color: #FFF;
        background-image: none;
        border: 1px solid #DFD7CA;        
        /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;*/
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }

}

/*****  SCROLLABLE LIST CONTAINER *****/
/*div.container.scrollable {    
    padding: 0 !important;
}

div.scroll-bar {    
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}*/

/*div.row_title {      
    padding-left: 1em;
    text-align: justify;
    .article_date {
        position: absolute;
        top: 1em;
        right: 0;
    }

    .morecontent span {
        display: none;
    }
}*/

/*div.row_control_panel {
    width: 100%;
    padding: 0.5em 0;
    text-align: right; 

    .fa {
        font-size: 1.2em;                               
    }      
} */

/*div.box_cover {                
    width: 100%;
    height: 100px;
    text-align: center;
    img {                    
        @include vertical-align;
    }
}*/

div.box_panel {

    div.box_title {                       
        height: 50px;                    
        color: #fff;
        text-align: center;
        p {
            @include vertical-align;
        }        
    }

    div.box_control_panel, div.box_control_panel_small { 
        width: 100%;        
        text-align: center;        
        .fa {
            font-size: 1.2em;                          
        }                    
    }

    div.box_control_panel_small {   
        margin-top: 4px;
        .btn {
            width: 12.5em;
        }
    }

}

//DATATABLE
div.dataTables_filter {
    display: none;
}
table.dataTable tbody tr {
    background-color: transparent;
}

//PROGRESS BAR
.dropzone.dz-started .dz-message {
    opacity: 1 !important;
}
.dz_errors {
    width: 14vw;    
    margin: 10px auto;
    max-height: calc(100vh - 180px);
    span {
        display: block;
        font-size: 10px;
        color: #CB4C4F;
    }
}

div.progress {
    width: 14vw;
    min-width: 120px;
    margin: 2em auto;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    @include transition(opacity, 1s, linear);       
}

.big_button {
    display: block;
    height: 6vw;
    width: 14vw;
    min-width: 120px;
    min-height: 100px;
    margin: 0 auto 1vw auto !important;
    font-size: 1.2em;    

    span {
        display: inline-block;        
        @include vertical-align;
        color: #fff;
    }
}

/***** CATEGORY PANEL *****/
ul#category_list {
    button {
        padding: 5px 10px;
        margin: 2px 0;
    }
}
form#category_form {
    .toggle_form_group {
        display: none;
    }
}
#add_category {
    float: right;
}


.trash {
    height: 14vw;
    width: 14vw;
    min-width: 120px;
    min-height: 120px;
    margin: auto !important;    
    border: 4px dashed rgba(193, 39, 45, 0.6);   
    background-color: rgba(255, 255, 255, 0.6);
    @include border-radius(20px);

    &:hover {
        border: 4px dashed rgba(193, 39, 45, 1);   
        background-color: rgba(255, 255, 255, 0.8);
    }

    .ui-state-highlight {
        visibility: hidden;
    }
    .ui-sortable-handle {      
        position: relative;
        @include vertical-align;  
        left: 50%;
        margin-left: -55px;
    }
}
.trash.ui-state-hover{
    background: red;    
} 


#project_trash {
    li.listitem, .ui-state-highlight {             
        position: relative !important;
        overflow: hidden;
        width: 166px;            
        background-color: #333;
        padding: 4px;
        @include border-radius(4px);            

    }

    .ui-sortable-handle {      
        position: relative;
        @include vertical-align;  
        left: 50% !important;
        margin-left: -82px !important;
    }

    div.project_control_panel {
        display: none !important;
    }
}

ul#cv_data {
    li {        
        margin: 0.5em 0;
        table {
            width: 100%;        
            caption {
                font-size: 2em;
            }
            tr {
                td:first-of-type, td:nth-last-of-type(2) {
                    width: 6%;
                }  
                td:nth-of-type(3) {
                    width: 80%;
                }
                td:nth-of-type(4), td:nth-of-type(5) {
                    width: 4%; 
                }
            } 
        }
    }
}

ul#person_array {
    div.person {
        margin-top: 1em;
        img {
            max-width: 100px;
        }
        div.person_data {
            display:inline-block;
            padding-left: 1em;       
        }
        div.person_controls {
            margin-top: 0.5em;
        } 
    }

}

table tbody tr td {
    vertical-align: middle;
}

div#feedbacklist {
    width: 14vw;
    min-width: 120px;
    height: 70px;    
    margin: 1em auto !important; 
    font-size: 0.8em; 

    div.scroll-bar {
        margin: 0;        
    }
    .success {
        color:#18BC9C;
    }
    .error {
        color: #CB4C4F;
    }    
}


/*******************************************************************************
                                    DIALOG                        
*******************************************************************************/

.narrow_dialog {
    width: 300px;
}
.wide_dialog {
    width: 600px;
}    
.narrow_dialog, .wide_dialog {
    form {
        visibility: hidden;
    }
}


.ui-dialog {    

    font-family: inherit !important;   
    div[class*="col-"] {
        margin: 0;
        padding: 0;
    }

    .ui-dialog-content {
        padding: 0.5em;
    }
    .ui-dialog-titlebar-close {
        display: none !important;
    }
    div.ui-dialog-titlebar.ui-widget-header {
        border: none !important;
        background: #333333 !important;
    }
    .ui-dialog-title {
        color: #fff;
        font-weight: normal !important;
    }
    .ui-dialog-buttonpane {
        border-width: 0;
    }  
    .dialog_controls {
        width: 100%;
        text-align: right;
        margin-top: 5px;
    }   
    #current_image {
        margin-top: 0.5em;
        max-width: 50px;
        max-height: 50px;
    }  
    /*    .form-group {
            margin-bottom: 10px;
        }*/
    .field_lock {
        display: inline-block;                
        text-align: center;
        .fa {
            font-size: 1.4em;
            padding: 1.4em 0 0 0.5em;
            color: #333;
        }
    }
    label {
        color: #333333;
    }
    label.dim {
        color: #ccc;
    }
    .dialog-icon {
        font-size: 2em;
    }
    .message {
        padding: 0.5em 0 1em 0;
    }

}

.ui-dialog {    
    .ui-dialog-buttonpane {
        margin-top: 0 !important;
        padding: 0 !important;
        button {
            margin: 0 0.1em 0.5em 0.1em !important;
        }
    }
    .ui-dialog-buttonset {
        width: 100%;
        text-align: center !important;
    }    
}

.ui-autocomplete {
    z-index: 9999 !important;
}

div.feedback_icon {
    text-align: center;
    .fa {
        padding: 0.3em 0.5em 0 0;
        font-size: 2em;
        color: #CB4C4F;
    } 
} 

/*******************************************************************************
                                    SETTINGS                        
*******************************************************************************/

/***** BRAND *****/
#brand {

    .custom-upload:first-of-type {
        padding-right: 1em;
    }
    .custom-upload:nth-of-type(2) {
        padding-left: 1em;
    }
    .preview {        
        img {
            max-height: 100px;
            @include XY-align;
        }
    }
}

/*******************************************************************************
                                    USER                        
*******************************************************************************/

/***** PORTRAIT *****/
#portrait {    

    .preview {
        img {
            max-height: 100px;
        }
    }
}

/***** LOGIN FORM *****/

img#KEF_logo {
    margin-top: 4vw;
}
form#loginform {
    div#captcha_img {
        min-width: 200px;
        display: inline-block;
        margin-right: 2px;        
    }    
    button#signin_button {
        float: right;
    }
}

#loader {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin-top: -5px;
    margin-left: -21px;
    z-index: 1000;
} 

@media screen and (max-width: 991px) { 
    nav ul li .menuitem {
        font-size: 1.1vw;
    }
    div.subheader {
        span.subtitle {
            display: block;
        }
        span.decor-bullet {
            display: none;
        }
    }
    div.image_array {
        padding: 0 1em;
    }
    div.controls {
        padding: 1em;
    }
} 

@media screen and (max-width: 767px) { 
    .ui-dialog {
        .narrow_dialog, .wide_dialog {
            width: 270px;
        }           
    }
    .custom-upload:first-of-type {
        padding-right: 0;
    }
    .custom-upload:nth-of-type(2) {
        padding-left: 0;
    }
    .dropzone {
        width: 100%;
        .dz-default.dz-message span {
            font-size: 4vw;
        }
    }
    div.progress {
        width: 100%;    
        margin: 1em auto;      
    }
    .dz_errors {
        width: 100%;
    }
}